<html>
<head>
   <title>php-crud</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 500px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
 
 </head>
<body>


    <div class="container">

      <form class="form-signin" action="{{ action }}" method="post">
        <h2 class="form-signin-heading">Cadastre-se</h2>

        {% if usuario %}
          <input type="hidden" name="Usuario[id]" value="{{ usuario.id }}" />
          <input type="text" name="Usuario[email]" value="{{ usuario.email }}" class="input-block-level" placeholder="Email address">
          <input type="password" name="Usuario[password]" value="{{ usuario.password }}" class="input-block-level" placeholder="Password">
        
          <input type="submit" class="btn btn-large btn-primary" value="Salvar">
          <a href="/index/delete/?id={{ usuario.id }}" class="btn btn-large btn-primary" onclick="return confirm('Você tem certeza?');">Remover</a>
        {% endif %}
        
        {% if not usuario %}
          <input type="text" name="Usuario[email]" class="input-block-level" placeholder="Email address">
          <input type="password" name="Usuario[password]" class="input-block-level" placeholder="Password">
          <input type="submit" class="btn btn-large btn-primary" value="Incluir Novo">
        {% endif %}
        
        
      </form>

    </div> <!-- /container -->


</body>
</html>
